@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import './styles/header.css';
@import './styles/main.css';
@import './styles/footer.css';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --cta-bgColor: #F0CC71;
  --fontColor: #161513;
  --colorBrand: #973f37;
  --headerBgColor: #312d2a;
  --secondayColor: #2d5258;
  --mainColor: #ffffff;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13.75px;
  line-height: 16px;
  color: var(--fontColor);
}
