.main{
  background-color: var(--mainColor);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main__dividers{
  position: absolute;
  pointer-events: none;
  background: rgba(22, 21, 19, 0.1);
  width: 100%;
  height: 400px;
}

.main__takeAdvantageContainer{
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  padding: 1rem;
}

.main__takeAdvantage{
  text-align: center;
}

.main__cardContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__card{
  width: 85%;
  border-radius: 5px;
}

.card__texts{
  display: flex;
  border-radius: 6px 6px 0px 0px;
}

.card__textContainer{
  width: 50%;
  padding: 1rem;
}

.card__itemContainer{
  background-color: var(--secondayColor);
  width: 100%;
  min-height: 100px;

}

.card__item{
  height: 100%;
}

.card__text{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--cta-bgColor);
  text-align: center;
  padding: .5rem;
}


.card__text--white{
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
  color: #F8FAFA;
  text-align: center;
  margin-top: 1rem;
  padding: .5rem;
}

.card__iconContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__icon{
  width: 98px;
  height: 64px;
  margin: 0 auto;
  filter: invert(55%) sepia(4%) saturate(2713%) 
  hue-rotate(128deg) brightness(95%) contrast(85%);
}

.card__ctaCardContainer{
  display: flex;
  flex-direction: column;
}

.card__ctaCard{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__ctaCondition{
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 12px;
  color: #161513;
  text-align: center;
}

.card__btnContainer{
  width: 530px;
  height: 84px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0px 6px 6px 0px;

}

.card__btn{
  background-color: var(--cta-bgColor);
  border-radius: 4px;
  width: 135px;
  height: 44px;
  border: none;
}

.card__btn:hover{
  cursor: pointer;
}

.main__joinTheThousandsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  gap: .5rem;
}

.main__joinTheThousandsText{
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
}

.main__joinTheThousandsLink{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #00688C;
  text-decoration: none;
}

.main__icons{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  align-items: center;
}

.main__icon{
  width: 70px;
  height: 50px;
}


@media (max-width: 614px){
  .main__takeAdvantageContainer{
    font-size: 26px;
    line-height: 28px;
  }

  .main__cardContainer{
    justify-content: start;
    align-items: start;
    width: 100%;
  }

  .main__card{
    width: 100%;
  }

  .card__texts{
    flex-direction: column;
    width: 100%;
  }

  .card__text{
    text-align: start;
    padding: 0;
  }

  .card__text--white{
    margin: 0;
    padding: 0;
  }

  .card__ctaCardContainer{
    flex-direction: column-reverse;
  }

  .card__textContainer{
   display: flex;
   flex-direction: row-reverse; 
   width: 100%;
  }

  .card__btnContainer{
    width: 100%;
  }

  .card__texts{
    background-color: var(--secondayColor);
  }

  .card__icon{
    filter: invert(98%) sepia(1%) saturate(130%) 
    hue-rotate(212deg) brightness(117%) contrast(100%);
  }
}